<h2>The Gald Race</h2>

<div id="gr-stats"></div>
<div id="gr-inventory"></div>

<h3>Map</h3>
<div id="gr-map">
</div>

<h3>Screen</h3>
<div id="gr-screen"></div>

<h3>Game Log</h3>
<div id="gr-game-log">
    <p>Loading.</p>
</div>

<script src="<%= static_path(@conn, "/js/util.js") %>"></script>
<script src="<%= static_path(@conn, "/js/react.js") %>"></script>
<script src="<%= static_path(@conn, "/js/gald.js") %>"></script>
